.headline
  %h1 Ghenio
  %p Integrate your GitHub with Evernote.

.authMethods
  .auth.login
    .sectionTitle Log In
    = form_for Account.new, url: login_account_path do |f|
      .field
        = f.label :email
        = f.text_field :email
      .field
        = f.label :password
        = f.password_field :password
      = f.submit 'Log In'
  .auth.signup
    .sectionTitle Sign Up
    = form_for Account.new do |f|
      .field
        = f.label :email
        = f.text_field :email
      .field
        = f.label :password
        = f.password_field :password
      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      = f.submit 'Sign Up'
