.headline
  %h1 Ghenio
  %p
    Synchronize your
    = link_to 'Evernote', 'https://evernote.com'
    notebooks with
    = link_to 'GitHub', 'https://github.com'
    repositories.
  %p And vice-versa.

.authMethods
  .auth.login
    .sectionTitle Log In
    = form_for Account.new, url: login_account_path do |f|
      .field
        = f.label :email
        = f.text_field :email
      .field
        = f.label :password
        = f.password_field :password
      = f.submit 'Log In'
  .auth.signup
    .sectionTitle Sign Up
    = form_for Account.new do |f|
      .field
        = f.label :email
        = f.text_field :email
      .field
        = f.label :password
        = f.password_field :password
      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation
      = f.submit 'Sign Up'
