!!! 5
%html
  %head
    %title Ghenio
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400,700,600", rel: "stylesheet", type: "text/css"}
    = csrf_meta_tags
  %body
    .main
      .flashes
        = flash.each do |name, msg|
          .alert{ :class => "alert-#{name}" }
            %button.close{ :data => { :dismiss => "alert" } } x
            %strong
              = msg
      = yield
